.header-container {
  background: rgb(24, 144, 255);
  text-align: left;
  width: 40%;
  padding-left: 10px;
  padding-top: 5px;
}

.post-container {
  background: white;
  text-align: left;
  width: 40%;
  padding-left: 10px;
}